# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Data files
data/*
*.zip
*.fasta
*.fastq
*.gz

# Logs
*.log

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Folders
bwa-out/*
!bwa-out/.gitkeep

gatk-out/*
!gatk-out/.gitkeep

mapDamage-out/*
!mapDamage-out/.gitkeep

ref_gen/*
!ref_gen/.gitkeep

slurm-out/*
!slurm-out/.gitkeep

vcf-stats-out/*
!vcf-stats-out/.gitkeep

fastqc-out/*
!fastqc-out/.gitkeep

vrouw_maria_2026/*
!vrouw_maria_2026/.gitkeep

viz-data/*
!viz-data/.gitkeep
